{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión mediante Google</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="{% static 'css/logueo.css' %}" rel="stylesheet" />
</head>
<body style="background-image: url(../../static/assets/img/inicio/fondo2.png);     background-size: cover;
background-position: center;">

<div class="container">
  <div class="card">
    <h2 class="card-title">Inicio de sesión con Google</h2>
    
    <div class="card-content">
      <p>Está a punto de iniciar sesión con Google. ¿Desea continuar?</p>

      <form method="post" action="">
        {% csrf_token %}
        <button type="submit">Continuar</button>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
