{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <link href="{% static 'css/logueo.css' %}" rel="stylesheet" />
  </head>
  <body style="background-image: url(../../static/assets/img/inicio/fondo2.png);     background-size: cover;
background-position: center;">
    <div class="container">
      <div class="cardSignup">
        <h2 class="card-title">Registrarse</h2>

        <div class="card-content">
          <form class="signup" id="signup_form" method="post" action="/signup/">
            {% csrf_token %}

            <input type="email" name="email" placeholder="Correo electrónico" autocomplete="email" required="" id="email" />

            <input type="text" name="name" id="name" placeholder="Nombre(s)" minlength="1" maxlength="150" required />
            <input type="text" name="lastname" id="lastname" placeholder="Apellido(s)" minlength="1" maxlength="150" required />

            <input type="text" name="username" placeholder="Usuario" autocomplete="username" minlength="1" maxlength="150" required id="sername" />

            <input type="password" name="password1" placeholder="Contraseña" autocomplete="new-password" required id="password1" />

            <input type="password" name="password2" placeholder="Contraseña (de nuevo)" autocomplete="new-password" required id="password2" />

            {% if form.errors %}

            {% endif %}
            <div class="form-check form-check-inline mb-2" style="font-size: 12px; display: flex; align-items: center;">
              <input class="form-check-input" type="checkbox" name="flexRadioDefault" id="flexRadioDefault2" style="border: 0; width: 1em; height: 1em; margin-top: 0;" onchange="toggleSubmit()"/>
              <label class="form-check-label" for="flexRadioDefault2">
                  He leído y acepto el <a href="/AvisoDePrivacidad">Aviso de privacidad</a> y los <a href="/TerminosYcondiciones">Términos y condiciones</a>.
              </label>
          </div>
          

          <button type="submit" id="submitButton" onclick="checkAndSubmit(event)">Registrarse »</button>
          </form>
        

          
          
             
         

          <p class="mt-2">
            ¿Ya tiene una cuenta? Por favor <a href="/accounts/login/">inicie sesión</a>.
          </p>
          <hr style="border-color: black;" />

          <div class="social-login">
            <a title="Google" class="socialaccount_provider google" href="/accounts/google/login/?process=login"><i class="bi bi-google mr-3"></i> Continuar con Google</a>
          </div>
        </div>
      </div>
    </div>

    {% if form.errors %}
      <div class="card-content error-message">
        <h6>Por favor, corrige los siguientes errores e intenta de nuevo:</h6>
        <ul>
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              <li>{{ error }}</li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>

  <script>
    var errorContainer = document.querySelector('.error-message')
    errorContainer.style.display = 'block'
    setTimeout(function () {
      errorContainer.style.display = 'none'
    }, 5000)


    function checkAndSubmit(event) {
      var checkbox = document.getElementById("flexRadioDefault2");

      if (!checkbox.checked) {
          alert("Por favor, acepta los términos antes de enviar el formulario.");
          event.preventDefault();  // Detiene el envío del formulario
      }
  }
</script>
</html>
