{% extends '../../menu.html' %}

{% load static %}
 
{% block content %}
  <section class="seccionPerfil">
    <div class="container-fluid">
      <div class="row">
        <!-- Menú lateral -->
        {% include '../menuLateral.html' %}

        <!-- Contenido -->
        <div class="col-10">
          <div class="tituloPerfil text-center">
            <h1 style="color: #357678;">Administrar contenido</h1>
          </div>
       
          <br />
          <div class="contenidoAdministrarContenido"> 
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Infografías</button>
                <button class="nav-link" id="nav-videos-tab" data-bs-toggle="tab" data-bs-target="#nav-videos" type="button" role="tab" aria-controls="nav-videos" aria-selected="false">Videos</button>
                <button class="nav-link" id="nav-blogs-tab" data-bs-toggle="tab" data-bs-target="#nav-blogs" type="button" role="tab" aria-controls="nav-blogs" aria-selected="false">Blogs</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active p-3" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                
                <!-- <button onclick="window.location.href='{% url 'subirImagen' %}'" class="btn-Acciones mt-2">Subir infografía</button> -->

                <div class="table-responsive py-2 mt-2">
                  <!-- Hacemos responsiva -->
                  <table class="cell-border display" cellspacing="0" width="100%" id="AdministrarInfografiasTabla">
                    <thead>
                      <!-- Encabezados -->
                      <tr class="text-center">
                        <th style="text-align: center;">Miniatura</th>
                        <th style="text-align: center;">Título</th>
                        <th style="text-align: center;">Fecha</th>
                        <!-- <th style="text-align: center;">Formato</th> -->
                        <th style="text-align: center;">Autor</th>
                        <th style="text-align: center;">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for info in infografias %}
                      <tr style="text-align: center;">
                        <td style="padding: 0; text-align: center;">
                          <img src="{{ info.file.url }}" alt="{{ info.title }}" style="max-width: 200px; width: 100%; height: auto; display: block; margin: 10px auto;"></img>
                        </td>
                        <td>{{ info.title }}</td>
                        <td>{{ info.timestamp }}</td>
                        <!-- <td>{{ info.get_format_display }}</td> -->
                        <td>{{ info.nombreCompleto }}</td>
                        <td>
                          <a href="{% url 'eliminarInfografia' id=info.id %}" class="bi bi-trash text-danger"></a>
                          <a href="{% url 'editarInfografias' pk=info.id %}" class="bi bi-pencil-square text-info-emphasis"></a>
                        </td>
                      </tr>
                      {% endfor %} <!-- Termina ciclo for -->
                    </tbody>
                  </table>
                </div>



              </div>
              <div class="tab-pane fade p-3" id="nav-videos" role="tabpanel" aria-labelledby="nav-videos-tab">
                <!-- <button onclick="window.location.href='{% url 'subirVideo' %}'" class="btn-Acciones">Subir video</button> -->
                <div class="table-responsive py-2 mt-2">
                  <!-- Hacemos responsiva -->
                  <table class="cell-border display" cellspacing="0" width="100%" id="AdministrarVideosTabla">
                    <thead>
                      <!-- Encabezados -->
                      <tr class="text-center">
                        {% comment %} <th>Miniatura</th> {% endcomment %}
                        <th style="text-align: center;">Título</th>
                        <th style="text-align: center;">Fecha</th>
                        <!-- <th style="text-align: center;">Formato</th> -->
                        <th style="text-align: center;">Autor</th>
                        <th style="text-align: center;">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for video in videos %}
                        <!-- Usamos ciclo for para imrpimir tarjas -->
                        <tr style="text-align: center;">
                          {% comment %} <td><img src="{{ video.file.url }}"  alt="{{ video.title }}" style="width: 20%;"  ></img></td> {% endcomment %}
                          <td>{{ video.title }}</td>
                          <td>{{ video.timestamp }}</td> <!-- Imprimimos lo de la tabla -->
                          <!-- <td>{{ video.get_format_display }}</td> -->
                          <td>{{ video.nombreCompleto }}</td>
                          <td>
                            <a href="{% url 'eliminarVideo' id=video.id %}" class="bi bi-trash text-danger"></a>
                            <a href="{% url 'editarVideos' pk=video.id %}" class="bi bi-pencil-square text-info-emphasis"></a>
                          </td>
                        </tr>
                      {% endfor %} <!-- Termina ciclo for -->
                    </tbody>
                  </table>
                </div>



                
              </div> 



              <div class="tab-pane fade p-3" id="nav-blogs" role="tabpanel" aria-labelledby="nav-blogs-tab">
                <div class="table-responsive py-2 mt-2"> 
                  <!-- Hacemos responsiva -->
                  <table class="cell-border display" cellspacing="0" width="100%" id="AdministrarBlogsTabla">
                    <thead>
                      <!-- Encabezados -->
                      <tr class="text-center">
                        <th style="text-align: center;">Miniatura</th>
                        <th style="text-align: center;">Título</th>
                        <th style="text-align: center;">Fecha</th>
                        <th style="text-align: center;">Autor</th>
                        <th style="text-align: center;">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for blog in blogs %}
                        <!-- Usamos ciclo for para imrpimir tarjas -->
                        <tr style="text-align: center;">
                          <td><img src="{{ blog.imagenPortada.url }}"  alt="{{ blog.titulo }}" style="width: 20%;"  ></img></td>
                          <td>{{ blog.titulo }}</td>
                          <td>{{ blog.fecha }}</td> <!-- Imprimimos lo de la tabla -->
                          <td>{{ blog.autor }}</td>
                          <td>
                            <a href="{% url 'eliminarBlog' id=blog.id %}" class="bi bi-trash text-danger"></a>
                            <a href="{% url 'editarBlog' id=blog.id %}" class="bi bi-pencil-square text-info-emphasis"></a>
                          </td>
                        </tr>
                      {% endfor %} <!-- Termina ciclo for -->
                    </tbody>
                  </table>
                </div>

            </div>
          </div>

            




          </div>
        </div>
      </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class= {% if message.tags == 'alert-success' %} "alert alert-success alerta alert-dismissible fade show shadow custom-messages fixed-bottom" {% else %} "alert alert-danger alerta  alert-dismissible fade show shadow custom-messages fixed-bottom" {% endif %}>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }} 
        </div>
    {% endfor %}
    {% endif %}
  </section>
  <style>
    .nav-tabs .nav-link.active {
    margin-left: 1em;
    background-color: #00132dda;
    font-size: medium;
    color: #ffffff; 
    border-radius: 15px;
    transition: 0.3s all;
    box-shadow: none;
    border: none;
}

.nav-tabs .nav-link {
    /* background-color: #ffffffb0; */
    margin-left: 0.8em;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: medium;
    box-shadow: none;
    border-radius: 15px;
    transition: 0.3s all;
}

.nav-tabs .nav-link:not(.active):hover {
    background-color: #8398b7da;
}

.tab-pane.fade.show.active {
    /* background-color: #00132dda; */
    /* font-size: medium; */
    color: black; 
    border-radius: 15px;
    box-shadow: none;
    transition: 0.3s all;
}
  </style>

  {% include '../../footer.html' %}
{% endblock %}
