* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: azure;
    min-height: 100hv;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.barra-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}

.navegacion a.hover-activo:hover {
    color: rgb(66, 135, 137);
}

.navegacion a.hover-activo::after {
    background-color: rgb(66, 135, 137);    
}

.logo {
    font-size: 1em;
    color:rgb(66, 135, 137);
    pointer-events: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.navegacion a {
    text-decoration: none;
    color: rgb(66, 135, 137);
    padding: 6px 8px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    position: relative;
    transition: 0.3s all;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navegacion a:hover {
    color: #00132d;
}


.navegacion a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #00132d;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.navegacion a:hover::after {
    width: 100%;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#titulo {
    position: absolute;
    top: 28%;
    font-size: 5em;
    color: rgb(66, 135, 137);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#titulo span.puerto {
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#titulo span.xperience {
    font-weight: 800; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.sec {
    position: relative;
    background: #00132d;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: aliceblue;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: aliceblue;
    font-weight: 300;
}

.scroll-downs {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }