* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: azure;
    min-height: 100hv;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

                                                /* Menú */

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s;
}

.linea-hover.hover-activo:hover {
    color: rgb(66, 135, 137);
}

.linea-hover.hover-activo::after {
    background-color: rgb(66, 135, 137);    
}

.logo {
    font-size: 1em;
    color:#00132d;
    pointer-events: none;
    margin-top: -0.7em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: auto;
    transition: 0.3 all;
}

.imagenLogo {
    height: 3em;
    width: 3em;
}

.logo.barra-activa {
    font-size: 1em;
    color:rgb(66, 135, 137);
    pointer-events: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.navegacion {
    display: flex;
    align-items: center;
    z-index: 2;
}

.navegacion a.linea-hover {
    margin-top: -1.45em;
}

.linea-hover {
    text-decoration: none;
    color: #00132d;
    padding: 6px 8px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    position: relative;
    transition: 0.3s all;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.linea-hover.hover-activo {
    text-decoration: none;
    color: rgb(66, 135, 137);
    padding: 6px 8px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    position: relative;
    margin-top: -1.45em;
    transition: 0.3s all;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.linea-hover:hover {
    color: #00132d;
}

.linea-hover::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #00132d;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s;
}

.linea-hover:hover::after {
    width: 100%;
}

                                                /* Menú hamburguesa */

.barra-fondo-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00132d;
    z-index: 1; 
    transition: width 0.3s ease-out;
}

.hamburguesa {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    color: #00132d;
}

.navegacion.mostrar-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1001;
}

.barra-fondo-menu.mostrar-fondo {
    width: 100%;
    background-color: #00132d;
}

.navegacion.mostrar-menu a {
    margin-bottom: 30px;
}

                                                /* Efecto parallax */

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallaxImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

/* #logoTitulo {
    position: absolute;
    top: 16%;
    font-size: 5em;
    color: rgb(66, 135, 137);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
} */

.logoImg {
    width: 15em;
    position: absolute;
    top: 4.5em;
    color: rgb(66, 135, 137);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}

#titulo {
    position: absolute;
    top: 32%;
    font-size: 5em;
    color: rgb(66, 135, 137);
    transition: 0.3s all;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#titulo span.puerto {
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#titulo span.xperience {
    font-weight: 800; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

                                                /* Animación del mouse */

.scroll-downs {
    position: absolute;
    top: 80%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

                                                /* Sección de bienvenida */

.bienvenido {
    position: relative;
    background: #00132d;
}

.seccionCursos {
    /* margin-top: 5em; */
    background-image: url('../assets/img/cursos/Marfondogeneral.png');
    background-size: cover;
    background-position: center;
}

.tarjeta-container {
    position: relative;
    background: #00132d;
}

.bienvenido h2 {
    font-size: 3em;
    color: aliceblue;
    margin-bottom: 10px;
    text-align: center;
}

.textoBienvenida{
    font-size: 2em;
    color: aliceblue;
    font-weight: 300;
    text-align: center;
}


.tarjeta-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    color: azure;
    width: 300px;
    background-color: #00132d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    margin-right: 50px;
}

.tarjeta:last-child {
    margin-right: 0; 
}

.tarjeta i {
    font-size: 5em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tarjeta p {
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.tarjeta:hover {
    transform: translateY(-15px);
    box-shadow: 0 4px 6px rgb(66, 135, 137);
    cursor: pointer;
}

.card-container {
    display: flex;
    justify-content: space-around;
   }
   
   .card {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%; 
    margin-left: 3%;
    color: #fff;
    background-color: #00132da8;
   }
   
   .card img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;  
   }
   
   .card h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
   }
   
   .card p {
    margin-bottom: 0;
    font-size: 0.95em;
   }

   @media (max-width: 767px) {
    .card-container {
      flex-direction: column;
    }
  
    .card {
      width: 100%; 
      margin-left: 0;
    }
  }
   

                                                /* Sección de cursos */

.cursos_seccion {
    display: flex;
    /* background: azure; */
    justify-content: space-between;
    /* background-image: url('../assets/img/inicio/fondodeseccion.jpg'); */
}

.cursos_seccion h2 {
    font-size: 3em;
    text-align: center;
    color: azure;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cursos_seccion p {
    font-size: 2em;
    text-align: center;
    color: azure;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 300;
}

.cursos_niveles {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cursos_niveles h3 {
    text-align: center;
}

.niveles {
    background-color: #00132d;
    color: azure;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.8s, box-shadow 0.8s;
    cursor: pointer;
}

.niveles:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

                                                /* Sección de comentarios */

.comentarios {
    /* background: azure; */
    padding: 20px;
}

.titulo_comentarios {
    font-size: 3em;
    text-align: center;
    color: azure;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.texto_comentarios {
    font-size: 2em;
    text-align: center;
    color: azure;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.comentarios-carrusel {
    display: flex;
    overflow-x: auto; 
    padding: 10px;
}

.comentario-tarjeta {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px; 
    padding: 15px;
    display: inline-block;
    min-width: 300px;
    word-wrap: break-word;
}

.avatar {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar h3 {
    margin: 0; 
}

.contenido-comentario h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.contenido-comentario p {
    font-size: 1em;
    color: #333;
}


.comentario-tarjeta:first-child {
    margin-left: 0; 
}

.comentario-tarjeta:last-child {
    margin-right: 0;
}

.comentario-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.comentario-texto {
    width: 500px;
    height: 80px;
    margin: 0 auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

.comentario-boton {
    background-color: #00132d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.comentario-boton:hover {
    background-color: rgb(66, 135, 137);
}

                                                /* Sección de footer */


.footer {
    position: relative;
    background: #00132d;
    padding: 100px;
    /* background-image: url('../assets/img/inicio/difuminadoAzul.png'); */
}

.footer h3 {
    font-size: 2em;
    color: aliceblue;
    margin-bottom: 10px;
}

.footer p {
    font-size: 1em;
    color: aliceblue;
    font-weight: 300;
}

  .footer ul {
    list-style: none;
    padding: 0;
  }

  .footer ul li a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .footer ul li a:hover {
    color: rgb(66, 135, 137);
  }



                                                /* Elementos extra */

/* .dropdown-item {
    margin-top: 0.5em !important;
} */

.transicion_azul_blanco {
    height: 20px;
    background: linear-gradient(to top, azure 0%, #00132d 100%);
}

.transicion_blanco_azul {
    height: 20px;
    background: linear-gradient(to bottom, azure 0%, #00132d 100%);
}

/* .imagen_fondo {
    background-image: url('../assets/img/inicio/fondo_mar.jpg');
    background-size: cover;
    background-position: center;
  } */

  .background_container {
    background-image: url('../assets/img/inicio/fondoMarNuevo.png');
    background-size: cover;
    background-position: center;
  }


  /*CSS cursos*/

  .TiposCurso{
    margin-right: 5%;
    background-color: transparent;
    border-color: transparent;
}
.TiposCurso:hover{
    background-color: #428789;
    color: white;
    border-color: transparent;
    border-radius: 5%;
}
.form-select{
    margin-right: 5%;
}
.Restablecer{
    width: 40%;
    color: #333;
    height: 60%;
    margin-top: 1em;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
    transition: 0.3s all;
}

.Restablecer:hover{
    background-color: #428789;
    color: white;
    border-color: transparent;
    border-radius: 1em;
    /* width: 21.4%; */
}

.filtros {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .filter-container {
    display: flex;
  }
  
  .select-container {
    margin-right: 15px; 
  }
  
  .select-label {
    margin-right: 5px; 
  }
  
  /* .Restablecer,
  .search-section {
    display: flex;
    align-items: center;
  } */

.video-thumbnail {
    width: 20%;
    max-width: 90%;
    height: auto;
    display: block;
}

.gallery {
    margin-bottom: 20px;
    display: flex;
    margin-right: 0%;
    border: 2px solid black;

}

.video-link{
    text-decoration: none;
    color: black
}
.text-container {
margin-right: auto;
}

.video-title {
    font-weight: bold;
    text-align: start;
}

.video-description {
    margin-top: 5px;
    text-align: start;
}

.EspacioVideos{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}
.videosExtras {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  /* Alinea al contenido al borde derecho */
}


.video-link2 {
    display: flex;
    flex-direction: column;  /* Alinea la miniatura y el título en columna */
    align-items: flex-end;   /* Alinea al contenido al borde derecho */
    text-decoration: none;  /* Elimina el subrayado predeterminado de los enlaces */
}

.video-thumbnail2 {
    max-width: 50%;  /* Ajusta el tamaño máximo de la miniatura al 100% del contenedor */
    height: auto;
}

.text-container2 {
    width: 40%;  /* Ajusta el ancho del contenedor de texto al 100% del contenedor padre */
    margin-top: 5px;  /* Ajusta el margen entre la miniatura y el título */
}

.video-title2 {
    text-align: left;  /* Alinea el título a la izquierda */
    /* Otras propiedades de estilo según sea necesario */
}
.gallery2 {
    margin-bottom: 20px;
    display: flex;
    width: 100%;  /* Establece el ancho del contenedor al 50% del contenedor padre */
    margin-bottom: 10px;  /* Ajusta el margen entre los videos */

}
.scrollmasContenido{
    overflow-y: auto;
    max-height: 400px;
}
.scrollMaterialComplementario{
    overflow-y: auto;
    max-height: 300px;
}
.acciones-button {
    background-color: #428789;
    color: white;
    border: 1px solid white;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
}
/* @media screen and (max-width: 576px) {
  }
  
  @media screen and (min-width: 577px) and (max-width: 768px) {
  }
  
  @media screen and (min-width: 769px) and (max-width: 992px) {
  }
  
  @media screen and (min-width: 993px) and (max-width: 1200px) {
  } */
  
  /* @media screen and (min-width: 1201px) and (max-width: 1400px) {

  } */
                                                                                /* CELULAR */

@media screen and (max-width: 380px) {
    header {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .linea-hover:hover {
        color: rgb(66, 135, 137);
    }

    .navegacion {
        display: flex;
        align-items: center;
        z-index: 2;
        margin-top: 5%;
    }
    
    .logo {
        font-size: 1em;
        color:#00132d;
        pointer-events: none;
        margin-top: -1.2%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-right: auto;
    }

    .hamburguesa {
        display: block;
        margin-top: -2.5%;
    }

    /* .logo {
        display: none;
    } */

    .navegacion {
        display: none;
        background-color: #00132d;
        width: 0;
        transition: width 0.3s ease;
    }

    .navegacion.mostrar-menu {
        display: flex;
        width: 100%; 
    }

    .navegacion a {
        color: rgb(66, 135, 137);
        transition: background-color 0.3s ease; 
    }

    .navegacion a:hover {
        background-color: rgba(66, 135, 137, 0.1);
    }

    .logoImg {
        width: 12em;
        position: absolute;
        top: 6.5em;
        color: rgb(66, 135, 137);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    #titulo {
        position: absolute;
        top: 36%;
        font-size: 3em;
        color: rgb(66, 135, 137);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .comentario-texto {
        width: 280px;
        height: 80px;
        margin: 0 auto; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        margin-bottom: 10px;
    }

    .textoTituloBienvenida {
        /* margin-left: -1.2em; */
    }

    .textoBienvenida {
        font-size: 1.5em;
        /* width: 300px; */
        /* margin-left: -3em; */
    }

    #cajaBienvenida {
        width: 300px;
    }
    
    .tarjeta {
        color: azure;
        width: 300px;
        background-color: #00132d;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        margin: 10px;
        text-align: center;
        border-radius: 20px;
        margin-right: 0;
    }

}


@media screen and (min-width: 380px) and (max-width: 577px) {
    header {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .linea-hover:hover {
        color: rgb(66, 135, 137);
    }

    .navegacion {
        display: flex;
        align-items: center;
        z-index: 2;
        margin-top: 5%;
    }
    
    .logo {
        font-size: 1em;
        color:#00132d;
        pointer-events: none;
        margin-top: -1.2%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-right: auto;
    }

    .hamburguesa {
        display: block;
        margin-top: -2.5%;
    }

    /* .logo {
        display: none;
    } */

    .navegacion {
        display: none;
        background-color: #00132d;
        width: 0;
        transition: width 0.3s ease;
    }

    .navegacion.mostrar-menu {
        display: flex;
        width: 100%; 
    }

    .navegacion a {
        color: rgb(66, 135, 137);
        transition: background-color 0.3s ease; 
    }

    .navegacion a:hover {
        background-color: rgba(66, 135, 137, 0.1);
    }

    .logoImg {
        width: 12em;
        position: absolute;
        top: 8em;
        color: rgb(66, 135, 137);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    #titulo {
        position: absolute;
        top: 36%;
        font-size: 3em;
        color: rgb(66, 135, 137);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .comentario-texto {
        width: 280px;
        height: 80px;
        margin: 0 auto; 
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: none;
        margin-bottom: 10px;
    }

    .textoTituloBienvenida {
        /* margin-left: -1.2em; */
    }

    .textoBienvenida {
        font-size: 1.5em;
        /* width: 300px; */
        /* margin-left: -3em; */
    }

    #cajaBienvenida {
        width: 300px;
    }
    
    .tarjeta {
        color: azure;
        width: 300px;
        background-color: #00132d;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
        transition: transform 0.5s ease, box-shadow 0.5s ease;
        margin: 10px;
        text-align: center;
        border-radius: 20px;
        margin-right: 0;
    }

}

                                                                                /* TABLET */

@media screen and (min-width: 577px) and (max-width: 767px) {
    header {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .linea-hover:hover {
        color: rgb(66, 135, 137);
    }

    .navegacion {
        display: flex;
        align-items: center;
        z-index: 2;
        margin-top: 5%;
    }
    
    .logo {
        font-size: 1em;
        color:#00132d;
        pointer-events: none;
        margin-top: -1.2%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-right: auto;
    }

    .hamburguesa {
        display: block;
        margin-top: -2.5%;
    }

    /* .logo {
        display: none;
    } */

    .navegacion {
        display: none;
        background-color: #00132d;
        width: 0;
        transition: width 0.3s ease;
    }

    .navegacion.mostrar-menu {
        display: flex;
        width: 100%; 
    }

    .navegacion a {
        color: rgb(66, 135, 137);
        transition: background-color 0.3s ease; 
    }

    .navegacion a:hover {
        background-color: rgba(66, 135, 137, 0.1);
    }

    .logoImg {
        width: 12em;
        position: absolute;
        top: 6.5em;
        color: rgb(66, 135, 137);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    #titulo {
        position: absolute;
        top: 36%;
        font-size: 3em;
        color: rgb(66, 135, 137);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

}

                                                                                /* PANTALLA DIVIDIDA */


@media screen and (min-width: 768px) and (max-width: 992px) {

    header {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .linea-hover:hover {
        color: rgb(66, 135, 137);
    }

    .navegacion {
        display: flex;
        align-items: center;
        z-index: 2;
        margin-top: 5%;
    }
    
    .logo {
        font-size: 1em;
        color:#00132d;
        pointer-events: none;
        margin-top: -1.2%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-right: auto;
    }

    .hamburguesa {
        display: block;
        margin-top: -2.5%;
    }

    /* .logo {
        display: none;
    } */

    .navegacion {
        display: none;
        background-color: #00132d; /* Color de fondo predeterminado */
        width: 0;
        transition: width 0.3s ease; /* Agrega transición para suavizar el desplazamiento */
    }

    .navegacion.mostrar-menu {
        display: flex;
        width: 100%; /* Ancho completo cuando se muestra */
    }

    .navegacion a {
        color: rgb(66, 135, 137);
        transition: background-color 0.3s ease; /* Agrega transición para suavizar el cambio de color de fondo */
    }

    .navegacion a:hover {
        background-color: rgba(66, 135, 137, 0.1);
    }
}



.seccionhistoria {
    /* margin-top: 5em; */
    background-image: url('../assets/img/cursos/Marfondogeneral.png');
    background-size: cover;
    background-position: center;
}

.historia{
    margin-bottom: 20px;
    display: flex;
    margin-right: 0%;
    text-align: justify;
}

.imagenManzanillo{
width: 15em;
height: 10em;
}
.imagenLinea{
    width: 56em;
    height: 65em;
    border-radius: 5%;
    opacity: 90%;
}


/* conócenos */


.seccionConocenos {
    /* margin-top: 5em; */
    background-image: url('../assets/img/cursos/Marfondogeneral.png');
    background-size: cover;
    background-position: center;
}

.cardConocenos {
    border: 1px solid #000; 
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
}

.card-titleConocenos {
    font-weight: bold;
}
.custom-messages {
    width: 350px;
    left: 72%;
}
/* CSS Aviso de privacidad */

.seccionprivacidad {
    /* margin-top: 5em; */
    background-image: url('../assets/img/cursos/Marfondogeneral.png');
    background-size: cover;
    background-position: center;
}
.aviso{
    margin-bottom: 20px;
    display: flex;
    margin-right: 0%;
    text-align: justify;
}
.avisoyprivacidad{
    background-color: #F0F8FF;
    opacity: 80%;
    border-radius: 2%;
}
.textoaviso{
    padding: 2em;
    text-align: justify;    
    position: relative;
}
/* CSS Terminos y condiciones */
.seccionterminos {
    /* margin-top: 5em; */
    background-image: url('../assets/img/cursos/Marfondogeneral.png');
    background-size: cover;
    background-position: center;
}

.termino{
    margin-bottom: 20px;
    display: flex;
    margin-right: 0%;
    text-align: justify;
}
.terminosycondiciones{
    background-color: #F0F8FF;
    opacity: 80%;
    border-radius: 2%;
}
.textoterminos{
    padding: 2em;
    text-align: justify;    
    position: relative;
}


/* Comentarios inicio */
.paginationinicio {
    padding-top: 0.3em;
    text-align: center;
    align-items: center;
}
.divpagina{
    padding-top: 0.3em;
    background-color: #00132d;
    height: 2em;
    width: 10em;    display: inline-block;

}
.paginationinicio span {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 20px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #E0E0E0; /* Color de fondo de los círculos */
    color: #333333; /* Color del texto dentro de los círculos */
}

.paginationinicio span:hover {
    background-color: #888888; /* Color de fondo cuando se pasa el ratón sobre los círculos */
    color: #FFFFFF; /* Cambia el color del texto al pasar el ratón sobre los círculos */
}

.paginationinicio .arrow {
    font-weight: bold;
    background-color: transparent; /* Fondo transparente para las flechas */
    color: #ffffff; /* Color del texto de las flechas */
}

.paginationinicio .arrow:hover {
    background-color: transparent; /* Fondo transparente cuando se pasa el ratón sobre las flechas */
    color: #888888; /* Cambia el color del texto al pasar el ratón sobre las flechas */
}

/* Css soporte*/
.seccionSoporte {
    margin-top: 5em;
    position: relative;
    background-color: #00132d;
}

.soporte{
    background-color: #F0F8FF;
    opacity: 80%;
    border-radius: 2em;
}
.soporte{
    padding: 2em;
    text-align: justify;    
    position: relative;
}
.btn-Enviar{
    text-align: center;
    background-color: #428789;
    width: 10em;
    height: 2.5em;
    color: white;
    border-color: transparent;
    border-radius: 1em;
    text-align: center;
}