{% extends '../menu.html' %}

{% load static %}

{% block content %}
<section class="seccionBlogs">
    <div class="container text-center">
        <div class="row flex-sm-row-reverse">
            <div class="col-lg-2 col-md-1"></div>
            
            <div class="col-lg-8 col-md-10 col-sm-12" style="margin-top: 5em;">
                <h1 style="color: #357678;">BLOGS</h1>
                <br>
                {% for blog in datos %}
                <div class="img-container video-item">
                    <br><a href="{% url 'Blog' blog_id=blog.id %}" class="video-link">
                    <div class="gallery">
                                <img src="{{ blog.imagenPortada.url }}" class="video-thumbnail">
                                <div class="text-container">
                                    <div class="video-title">{{ blog.titulo }}</div>
                                    <div class="video-description">{{ blog.introduccion }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
        <div class="pagination">
            <span class="step-links linkspaginaciones">
                {% if videos.has_previous %}
                    <a href="?page={{ videos.previous_page_number }}" class="linkspaginaciones"><i class="fa-solid fa-chevron-left"></i></a>
                {% endif %}
        
                <span class="current">
                  {% for page_number in rango %}
                  <a href="?page={{ page_number }}" class="linkspaginaciones">{{ page_number }}</a>
                    {% endfor %}
                
  
                </span>
        
                {% if videos.has_next %}
                    <a href="?page={{ videos.next_page_number }}" class="linkspaginaciones"><i class="fa-solid fa-chevron-right"></i></a>
                {% endif %}
            </span>
        </div>
    </div>
</section>





{% include '../footer.html' %}

{% endblock %}
