{% extends '../../menu.html' %}

{% load static %}
 
{% block content %}
  <section class="seccionPerfil">
    <div class="container-fluid">
      <div class="row">
        <!-- Menú lateral -->
        {% include '../menuLateral.html' %}

        <!-- Contenido -->
        <div class="col-10">
          <div class="tituloPerfil text-center">
            <h1 style="color: #357678;">Subir contenido</h1>
          </div>
       
          <br />
          <div class="contenidoAdministrarContenido"> 
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info" type="button" role="tab" aria-controls="nav-info" aria-selected="true">Infografías</button>
                <button class="nav-link" id="nav-videos-tab" data-bs-toggle="tab" data-bs-target="#nav-videos" type="button" role="tab" aria-controls="nav-videos" aria-selected="false">Videos</button>
                <button class="nav-link" id="nav-blogs-tab" data-bs-toggle="tab" data-bs-target="#nav-blogs" type="button" role="tab" aria-controls="nav-blogs" aria-selected="false">Blogs</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active p-3" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                

                <div class="table-responsive py-2 mt-2">
                  <!-- Hacemos responsiva -->

                </div>



              </div>
              <div class="tab-pane fade p-3" id="nav-videos" role="tabpanel" aria-labelledby="nav-videos-tab">
                <div class="table-responsive py-2 mt-2">
                  <!-- Hacemos responsiva -->

                </div>



                
              </div> 



              <div class="tab-pane fade p-3" id="nav-blogs" role="tabpanel" aria-labelledby="nav-blogs-tab">
                <div class="table-responsive py-2 mt-2"> 
                  <!-- Hacemos responsiva -->
                  <div class="contenidoSubirBlog">
                    <form method="post" enctype="multipart/form-data" action="{% url 'subirBlog' %}">{% csrf_token %} 
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Título</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="titulo">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Imagen de portada</label><br>
                            <input type="file" class="form-control" id="imagenPortada"name="imagenPortada">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea3" class="form-label">Introducción</label>
                            <textarea class="form-control" id="introduccion" rows="2" name="introduccion"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea2" class="form-label">Contenido</label>
                            <textarea class="form-control" id="contenido" rows="100" name="contenido"></textarea>
                        </div>
                        <input type="text" class="form-control" id="autor" aria-describedby="emailHelp" name="autor" value="{{request.user.first_name}} {{request.user.last_name}}" style="display: none;">
                        <div class="mx-auto text-center">
                            <button type="submit" class="btn-Enviar ">Publicar</button>
                        </div>
                    </form>
                </div>
                </div>

            </div>
          </div>

            




          </div>
        </div>
      </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class= {% if message.tags == 'alert-success' %} "alert alert-success alerta alert-dismissible fade show shadow custom-messages fixed-bottom" {% else %} "alert alert-danger alerta  alert-dismissible fade show shadow custom-messages fixed-bottom" {% endif %}>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            {{ message }} 
        </div>
    {% endfor %}
    {% endif %}
  </section>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        // Selecciona todos los elementos con la clase 'message-container'
        var messageContainers = document.querySelectorAll('.message-container');

        // Itera sobre cada contenedor de mensajes
        messageContainers.forEach(function(container) {
            // Oculta el contenedor después de 10 segundos
            setTimeout(function() {
                container.style.display = 'none';
            }, 4000); // 10000 milisegundos = 10 segundos
        });
    });
    tinymce.init({
    selector: '#contenido',
    height: 500,
    plugins: "advcode advlist advtable anchor autocorrect autolink autosave casechange charmap checklist codesample directionality editimage emoticons export footnotes formatpainter help image insertdatetime link linkchecker lists media mediaembed mergetags nonbreaking pagebreak permanentpen powerpaste searchreplace table tableofcontents tinymcespellchecker typography visualblocks visualchars wordcount",
    toolbar: "undo redo spellcheckdialog  | blocks fontfamily fontsize | bold italic underline forecolor backcolor | link image | align lineheight checklist bullist numlist | indent outdent | removeformat typography",
    images_file_types: 'jpg, svg, webp, png',
    file_picker_types: 'file image media',
    language: 'es_MX',  // Configura el idioma a español (México)
    setup: function (editor) {
    editor.on('NodeChange', function (e) {
      // Verifica si el nodo actual es una imagen
      if (e && e.element.nodeName === 'IMG') {
        // Aplica la clase 'imagenBlog' a la imagen automáticamente
        editor.dom.addClass(e.element, 'imagenBlog');
      }
    });
  }
});

</script>
  {% include '../../footer.html' %}
{% endblock %}
