{% extends '../menu.html' %}

{% load static %}

{% block content %}

<section class="seccionSoporte">
    <div class="container text-center">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-12">
                <div class="soporte text-center" style="margin-top: 5em;">
                    <h1 style="color: #357678;">SOPORTE</h1>
                </div>
                <br>
                <div class="soporte"  style="margin-bottom: 15%;">
                    <p class="textosoporte">
                        <h3><strong>¿Cómo podemos ayudarte?</strong><br></h3>
                        Estamos aquí para asistirte en cualquier inconveniente que puedas estar experimentando con PuertoNet. Para brindarte la mejor atención, por favor, proporciona tu dirección de correo electrónico para que podamos ponernos en contacto contigo. Asimismo, te solicitamos una descripción detallada del problema y, si es posible, algún tipo de evidencia que nos ayude a comprender mejor la situación. Nuestro equipo de soporte se esforzará por responder a tu solicitud en el menor tiempo posible. ¡Gracias por confiar en nosotros!
                    </p>
                    <div class="formularioSoporte col-6 mx-auto">
                        <form method="post" enctype="multipart/form-data">{% csrf_token %} 
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Correo eléctronico</label>
                              <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" name="correo">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                                <textarea class="form-control" id="descripcion" rows="3" name="descripcion"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Evidencia (opcional)</label><br>
                                <input type="file" class="form-control" id="imagen" name="imagen">
                            </div>
                            <div class="mx-auto text-center">
                                <button type="submit" class="btn-Enviar ">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>       
          <div class="col-2">
          </div>
        </div>
        {% if messages %}
        <div class="message-container">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Selecciona todos los elementos con la clase 'message-container'
        var messageContainers = document.querySelectorAll('.message-container');

        // Itera sobre cada contenedor de mensajes
        messageContainers.forEach(function(container) {
            // Oculta el contenedor después de 10 segundos
            setTimeout(function() {
                container.style.display = 'none';
            }, 4000); // 10000 milisegundos = 10 segundos
        });
    });

</script>

{% include '../footer.html' %}

{% endblock %}
