{% extends 'menu.html' %}

{% load static %}

{% block content %}


<section class="seccionConocenos">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="cardConocenos">
                    <h3 class="card-titleConocenos">Misión</h3>
                    <div class="card-contentConocenos">Facilitamos el acceso a conocimientos especializados en logística y el puerto de Manzanillo mediante una plataforma educativa innovadora, ofreciendo cursos en línea de calidad y recursos informativos.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="cardConocenos">
                    <h3 class="card-titleConocenos">Visión</h3>
                    <div class="card-contentConocenos">Buscamos ser líderes educativos en logística, destacando por la excelencia en contenido y contribuyendo al desarrollo sostenible de la industria en Manzanillo.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto d-flex align-items-center">
                <div class="cardConocenos card-largeConocenos">
                    <div class="card-contentConocenos">Somos un equipo apasionado que se dedica a brindar una experiencia educativa excepcional centrada en la logística. Descubre los fundamentos que respaldan nuestra visión y cómo cada elemento se entrelaza para crear una experiencia educativa única. Conoce al equipo detrás de esta iniciativa, cuya pasión y dedicación impulsan el continuo crecimiento y la calidad de nuestros cursos en línea.</div>
               <li>Reinaldo Jehú Rodríguez Álvarez: Líder de desarrollo y encargado de diseño</li>
               <li>Job Esaú Rodríguez Álvarez: Desarrollador backend</li>
               <li>Diana Belén De la cruz Ramírez: Desarrollador backend</li>
               <li>Jessica Marysol Perez Quiroz: Creadora de contenido </li>
                </div>
            </div>
        </div>
    </div>
</section>

    {% include 'footer.html' %}

    {% endblock %}