<section class="footer d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>Contacto</h3>
                <p class="text-left">Dirección: 123 Calle Principal, Ciudad</p>
                <p class="text-left">Teléfono: (123) 456-7890</p>
                <p class="text-left">Correo: info@PuertoNet.com</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Contenido</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'Cursos' %}">Cursos</a></li>
                    <li><a href="#">Recursos</a></li>
                    <li><a href="{% url 'Historia' %}">Historia</a></li>
                    <li><a href="#">Comentarios</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Redes Sociales</h3>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Privacidad</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'AvisoDePrivacidad' %}">Aviso de Privacidad</a></li>
                    <li><a href="{% url 'TerminosYcondiciones' %}">Términos y Condiciones</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>