{% extends 'menu.html' %}
{% load static %}

{% block content %}




<section class="parallax">
    <img class="parallaxImg" src="{% static 'assets/img/inicio/fondo2.png' %}" id="fondo2" style="width: 100%; height: 100%; ">
    <img id="logoImg" class="logoImg" src="{% static 'assets/img/logo/logo.png' %}">
    <h2 id="titulo">
        <span class="puerto">Puerto</span><span class="xperience">Net</span>
    </h2>
    <img class="parallaxImg" src="{% static 'assets/img/inicio/fondo1a.png' %}" id="fondo1" style="width: 100%; height: 100%;">
    <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
    </div>
</section>

<section class="bienvenido d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>¡Bienvenido!</h2>
                <p class="textoBienvenida">
                    Nos alegra tenerte en el sitio web de PuertoNet. Un proyecto destinado a difundir el conocimiento del puerto a quienes lo buscan.<br><br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="tarjeta-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="tarjeta mb-3 text-center">
                    <i class="fa-solid fa-video"></i>
                    <h3>Cursos online</h3>
                    <p>Aprende a tu ritmo con nuestros diversos cursos en línea</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="tarjeta mb-3 text-center">
                    <i class="fa-solid fa-images"></i>
                    <h3>Recursos visuales</h3>
                    <p>Explora nuestra colección de infografías, imágenes y demás material gráfico</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="tarjeta mb-3 text-center">
                    <i class="fa-solid fa-timeline"></i>
                    <h3>Historia</h3>
                    <p>Descubre la formación y evolución del puerto de Manzanillo</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="transicion_azul_blanco"></div> -->

<section class="background_container">
<section class="cursos_seccion">
    <div class="container">
        <div class="row" style="margin-top: 8%;">
            <div class="col-md-6 cursos_info">
                <h2 style="margin-top: 16%;">Sumérgete con nosotros</h2>
                <p style="margin-bottom: 10%;">Creemos que el nivel y la edad no son un impedimento para comenzar a aprender, por ello, contamos con diferentes categorías.</p>
            </div>
            <div class="col-md-6 cursos_niveles">
                <div class="niveles" style="background-image: url('../static/assets/img/inicio/general5.jpg'); background-size: cover; background-position: center;">
                    <h3>General</h3>
                </div>
                <div class="niveles" style="background-image: url('../static/assets/img/inicio/principiante.jpg'); background-size: cover; background-position: center;">
                    <h3>Principiante</h3>
                </div>
                <div class="niveles" style="background-image: url('../static/assets/img/inicio/kids2.jpg'); background-size: cover; background-position: center;">
                    <h3>Kids</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comentarios">
    <div class="container" style="margin-bottom: 15%;">
        <div class="row" style="margin-top: 5%;">

            <div class="col-md-6 order-md-2">
                <h2 class="titulo_comentarios" style="margin-top: 5%;">Nos importa tu opinión</h2>
                <p class="texto_comentarios">A medida que exploras nuestro contenido, nos interesa saber lo que piensas. Comparte tu opinión sobre PuertoNet y echa un vistazo a los comentarios de otros usuarios.</p>
                
                             
                    {% if user.is_authenticated %}  
                    <form  method="post"  action="{% url 'ComentarioPagina' %}">
                        {% csrf_token %}
                        <div class="comentario-formulario">
                        <textarea id="comentarioTexto" name="comentarioTexto" class="comentario-texto" placeholder="Escribe tu comentario aquí"></textarea>
                       
                        <button class="comentario-boton">Comentar</button>
                    </div>
                    </form>
                    {% else %}
                    <div class="comentario-formulario">
                    <textarea class="comentario-texto inicioForzado" placeholder="Escribe tu comentario aquí"></textarea>
                    <button id="mostrarAlerta" class="mostrarAlerta comentario-boton inicioForzado">Comentar</button>
                    <div class="alert alert-light AlertaInicioSesion" id="AlertaInicioSesion" name="AlertaInicioSesion" style="display: none;" role="alert">
                        <h6>Se requiere iniciar sesión para realizar comentarios.</h6>
                    </div>
                </div>
                    
                  
                    {% endif %}
                
            </div>

            <div class="col-md-6 order-md-1">
              
                <div class="card-container">
                    {% for comentario in comentarios %}
                        <div class="card mb-3">
                            <img src="static/assets/img/inicio/user.png" class="card-img-top mx-auto">
                            <h3 class="text-center">{{ comentario.user.username }}</h3>
                            <p>{{ comentario.text }}</p>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
</section>


</section>

<!-- <div class="transicion_blanco_azul"></div> -->

<section class="footer d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>Contacto</h3>
                <p class="text-left">Dirección: 123 Calle Principal, Ciudad</p>
                <p class="text-left">Teléfono: (123) 456-7890</p>
                <p class="text-left">Correo: info@PuertoNet.com</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Contenido</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Recursos</a></li>
                    <li><a href="#">Historia</a></li>
                    <li><a href="#">Comentarios</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Redes Sociales</h3>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Privacidad</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Aviso de Privacidad</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="col-xs-4 col-sm-4 col-md-4  col-lg-3" style="float: right;">
    {% if messages%} 
    {% for message in messages %}
    {% if message.tags == "success" %}
    <div id="box" class="alert alerta alert-success alert-dismissible fade show shadow custom-messages fixed-bottom ">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% elif message.tags == "error" %}
    <div id="box" class="alert alerta alert-danger alert-dismissible fade show shadow custom-messages fixed-bottom ">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% else %}
    <div id="box" class="alert alerta alert-warning  alert-dismissible fade show shadow custom-messages fixed-bottom ">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="text-dark">{{ message }}</strong>
    </div>
    {% endif %}
    {% endfor %} 
    {% endif %} 
</div>

<script> 
    window.setTimeout(function () {
      $(".alerta").fadeTo(500, 0).slideUp(500, function () {
        $(this).remove();
      });
    }, 2000);
  </script>
{% endblock %}