{% extends 'menu.html' %}
{% load static %}

{% block content %}




<section class="parallax">
    <img class="parallaxImg" src="{% static 'assets/img/inicio/fondo2.png' %}" id="fondo2" style="width: 100%; height: 100%; ">
    <img id="logoImg" class="logoImg" src="{% static 'assets/img/logo/logo.png' %}">
    <h2 id="titulo">
        <span class="puerto">Puerto</span><span class="xperience">Net</span>
    </h2>
    <img class="parallaxImg" src="{% static 'assets/img/inicio/fondo1a.png' %}" id="fondo1" style="width: 100%; height: 100%;">
    <div class="scroll-downs">
        <div class="mousey">
          <div class="scroller"></div>
        </div>
    </div>
</section>

<section class="bienvenido d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2>¡Bienvenido!</h2>
                <p class="textoBienvenida">
                    Nos alegra tenerte en el sitio web de PuertoNet. Un proyecto destinado a difundir el conocimiento del puerto a quienes lo buscan.<br><br>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="tarjeta-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="tarjeta mb-3 text-center">
                    <i class="fa-solid fa-video"></i>
                    <h3>Cursos online</h3>
                    <p>Aprende a tu ritmo con nuestros diversos cursos en línea</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="tarjeta mb-3 text-center">
                    <i class="fa-solid fa-images"></i>
                    <h3>Recursos visuales</h3>
                    <p>Explora nuestra colección de infografías, imágenes y demás material gráfico</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
                <div class="tarjeta mb-3 text-center">
                    <i class="fa-solid fa-timeline"></i>
                    <h3>Historia</h3>
                    <p>Descubre la formación y evolución del puerto de Manzanillo</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="transicion_azul_blanco"></div> -->

<section class="background_container">
<section class="cursos_seccion">
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-6 cursos_info">
                <h2 style="margin-top: 20%;">Sumérgete con nosotros</h2>
                <p style="margin-bottom: 20%;">Creemos que el nivel y la edad no son un impedimento para comenzar a aprender, por ello, contamos con diferentes categorías.</p>
            </div>
            <div class="col-md-6 cursos_niveles">
                <div class="niveles" style="background-image: url('../static/assets/img/inicio/general5.jpg'); background-size: cover; background-position: center;">
                    <h3>General</h3>
                </div>
                <div class="niveles" style="background-image: url('../static/assets/img/inicio/principiante.jpg'); background-size: cover; background-position: center;">
                    <h3>Principiante</h3>
                </div>
                <div class="niveles" style="background-image: url('../static/assets/img/inicio/kids2.jpg'); background-size: cover; background-position: center;">
                    <h3>Kids</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comentarios">
    <h2 class="titulo_comentarios"  style="margin-top: 5%;">Nos importa tu opinión</h2>

    <p class="texto_comentarios">A medida que exploras nuestro contenido, nos interesa saber lo que piensas. Comparte tu opinión sobre PuertoNet y echa un vistazo a los comentarios de otros usuarios.</p>
    <!-- <p class="texto_comentarios">Y descubre lo que opinan otros usuarios.</p> -->

    <div class="comentario-formulario">
        <textarea class="comentario-texto" placeholder="Escribe tu comentario aquí"></textarea>
        <button class="comentario-boton">Comentar</button>
    </div><br><br>

    <!-- <h2 style="color: azure;">Comentarios</h2> -->
    <div class="comentarios-carrusel">

        <div class="comentario-tarjeta">
            <div class="avatar">
                <img src="{% static 'assets/img/inicio/user.png' %}" alt="Usuario 1">
                <h3>John Doe</h3>
            </div>
            <div class="contenido-comentario">
                <p>¡Excelente sitio web! Aprendí mucho sobre el puerto. ¡Los cursos son geniales!</p>
            </div>
        </div>

        <div class="comentario-tarjeta">
            <div class="avatar">
                <img src="{% static 'assets/img/inicio/user.png' %}" alt="Usuario 2">
                <h3>Jane Smith</h3>
            </div>
            <div class="contenido-comentario">
                <p>Los recursos visuales son muy útiles. ¡Gracias por compartirlos!</p>
            </div>
        </div>

        <div class="comentario-tarjeta">
            <div class="avatar">
                <img src="{% static 'assets/img/inicio/user.png' %}" alt="Usuario 3">
                <h3>Robert Johnson</h3>
            </div>
            <div class="contenido-comentario">
                <p>Este sitio me ayudó a entender mejor la historia del puerto. Muy informativo.</p>
            </div>
        </div>

        <div class="comentario-tarjeta">
            <div class="avatar">
                <img src="{% static 'assets/img/inicio/user.png' %}" alt="Usuario 4">
                <h3>Linda Wilson</h3>
            </div>
            <div class="contenido-comentario">
                <p>¡Gran sitio para aprender! Los cursos online son variados y de calidad.</p>
            </div>
        </div>

        <div class="comentario-tarjeta">
            <div class="avatar">
                <img src="{% static 'assets/img/inicio/user.png' %}" alt="Usuario 5">
                <h3>Michael Brown</h3>
            </div>
            <div class="contenido-comentario">
                <p>Excelente contenido y recursos para explorar. Aprendí mucho aquí.</p>
            </div>
        </div>

        <div class="comentario-tarjeta">
            <div class="avatar">
                <img src="{% static 'assets/img/inicio/user.png' %}" alt="Usuario 6">
                <h3>Mary Davis</h3>
            </div>
            <div class="contenido-comentario">
                <p>Un sitio web muy completo. Los cursos y la información histórica son sobresalientes.</p>
            </div>
        </div>
        
    </div>

</section>
</section>

<!-- <div class="transicion_blanco_azul"></div> -->

<section class="footer">
    <div style="margin-left: 4%;" class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h3>Contacto</h3>
                <p class="text-left">Dirección: 123 Calle Principal, Ciudad</p>
                <p class="text-left">Teléfono: (123) 456-7890</p>
                <p class="text-left">Correo: info@PuertoNet.com</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Contenido</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Recursos</a></li>
                    <li><a href="#">Historia</a></li>
                    <li><a href="#">Comentarios</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Redes Sociales</h3>
                <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3>Privacidad</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Aviso de Privacidad</a></li>
                    <li><a href="#">Términos y Condiciones</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}