{% extends '../menu.html' %}

{% load static %}

{% block content %}

<section class="seccionterminos">
    <div class="container text-center">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8">
                <h1>TÉRMINOS Y CONDICIONES</h1>
                <br>
                <div class="termino">
                    <h4>Este apartado establece los términos y condiciones del uso del software proporcionado por PuertoNet. Al utilizar esta plataforma usted acepta los siguientes términos:</h4>
                </div><br>
                <div class="terminosycondiciones">
                    <p class="textoterminos">
                        <strong>Uso Adecuado:</strong><br>
                        El software está destinado únicamente para su uso de acuerdo con las funcionalidades previstas. Cualquier uso indebido del software queda estrictamente prohibido.<br><br>
                        <strong>Limitación de Responsabilidades:</strong><br>
                        PuertoNet no se hace responsable de cualquier mal uso o uso indebido del software por parte del usuario. El usuario asume la total responsabilidad por el uso del software de acuerdo con las leyes y regulaciones aplicables.<br><br>
                        <strong>Daños y Pérdidas:</strong><br>
                        PuertoNet no será responsable de los daños directos, indirectos, incidentales, especiales, consecuentes u otros tipos de pérdidas o perjuicios que puedan surgir del uso del software, incluyendo, pero no limitándose a, la pérdida de datos, interrupción del servicio, o cualquier otro daño relacionado.<br><br>
                        <strong>Actualizaciones y Mantenimiento:</strong><br>
                        PuertoNet se reserva el derecho de realizar actualizaciones, modificaciones o mantenimiento en el software en cualquier momento y sin previo aviso. La continuidad del uso del software implica la aceptación de dichas actualizaciones.<br><br>
                        <strong>Seguridad del Usuario:</strong><br>
                        El usuario es responsable de mantener la seguridad de su acceso al software, incluyendo la confidencialidad de cualquier contraseña o credencial de acceso. PuertoNet no se hace responsable de acceso no autorizado a la cuenta del usuario.<br><br>
                        <strong>Uso Indebido:</strong><br>
                        Cualquier uso indebido del software, incluyendo pero no limitándose a la violación de derechos de propiedad intelectual, será motivo de terminación inmediata del acceso y puede dar lugar a acciones legales.<br><br>
                        <strong>Modificaciones en los Términos:</strong><br>
                        PuertoNet se reserva el derecho de modificar estos términos en cualquier momento. El uso continuado del software después de cualquier modificación constituirá la aceptación de los términos modificados.<br><br>
                        Al utilizar el software proporcionado por PuertoNet, usted reconoce haber leído, entendido y aceptado los términos y condiciones establecidos en este deslinde de responsabilidades. En caso de no estar de acuerdo con estos términos, se le solicita que no utilice el software.<br><br>
                        <br>
                        Fecha de última actualización: 11/11/2023
                    </p>
                </div>
            </div>
            <br>       
          <div class="col-2">
          </div>
        </div>
</section>


{% include '../footer.html' %}

{% endblock %}
