{% extends '../../menu.html' %}

{% load static %}

{% block content %}


<section class="seccionPerfil">
    <div class="container-fluid">
        <div class="row">

            <!-- Menú lateral -->
            {% include '../menuLateral.html' %}

            <!-- Contenido -->
            <div class="col-10">
                <div class="tituloPerfil text-center">
                    <h1 style="color: #357678;">Perfil de usuario</h1>

                    
                </div>
                <br>
                <div class="contenidoEditarUsuario">
                    <form id="ItemForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}


                    
                    
                        <label for="id_name">Nombre:</label>
                        <input type="text" name="name" id="name" maxlength="150" required value="{{user.first_name}}"> 
                        
                        <label for="id_lastname">Apellidos:</label>
                        <input type="text" name="lastname" id="lastname" maxlength="150" required value="{{user.last_name}}">
                        
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" id="email" maxlength="254" required value="{{user.email}}">
                    
                        <label for="id_password1">Nueva contraseña:</label>
                        <input type="password" name="password1" id="password1">
                        
                        <label for="id_password2">Confirmar contraseña:</label>
                        <input type="password" name="password2" id="password2" >
                    
         
                        <input type="file" name="image" id="image" accept="image/*" >
                    

                        <button type="submit" class="btn-Acciones " style="margin-top: 10px;">Guardar</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>



</section>

{% if messages %}
{% for message in messages %}
<div class= {% if message.tags == 'alert-success' %} "alert alert-success alerta alert-dismissible fade show shadow custom-messages fixed-bottom" {% else %} "alert alert-danger alerta  alert-dismissible fade show shadow custom-messages fixed-bottom" {% endif %}>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }} 
    </div>
{% endfor %}
{% endif %}





{% include '../../footer.html' %}

{% endblock %}