{% extends '../menu.html' %}

{% load static %}

{% block content %}

<section class="seccionprivacidad">
    <div class="container text-center">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-8" style="margin-top: 5em;">
                <h1 style="color: #357678;">AVISO DE PRIVACIDAD</h1>
                <br>
                <div class="aviso">
                    <h4>De acuerdo con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante, "la Ley"), le informamos que PuertoNet será el responsable de sus datos personales durante su participación en la plataforma. A continuación, se describen los términos y condiciones relacionados con la recopilación y uso de sus datos personales:</h4>
                </div><br>
                <div class="avisoyprivacidad" style="margin-bottom: 15%;">
                    <p class="textoaviso">
                        <strong>Responsable de los Datos:</strong><br>
                        PuertoNet será responsable de recabar sus datos personales durante su interacción en la plataforma.<br><br>
                        <strong>Datos Recopilados:</strong><br>
                        Se recopilarán datos personales, como nombre, dirección y nombre de usuario, con el único propósito de gestionar su sesión en PuertoNet y guardar los comentarios que realice durante dicha sesión.<br><br>
                        <strong> Uso de los Datos:</strong><br>
                        Sus datos serán utilizados exclusivamente para los fines mencionados anteriormente.<br><br>
                        <strong>Almacenamiento y Seguridad:</strong><br>
                        PuertoNet se compromete a almacenar sus datos en medios seguros con acceso limitado, implementando medidas de seguridad para protegerlos contra accesos no autorizados.<br><br>
                        <strong>Divulgación de Datos:</strong><br>
                        En cumplimiento con la ley, en caso de requerimiento por parte de autoridades competentes, los datos podrán ponerse a disposición de estas.<br><br>
                        <strong>Limitación de Responsabilidad:</strong><br>
                        En caso de vulnerabilidades o eventos imprevistos, PuertoNet no se hace responsable por la seguridad de los datos recopilados.<br><br>
                        <strong>Consentimiento:</strong><br>
                        Al participar en PuertoNet, usted autoriza expresamente el tratamiento de sus datos personales para los fines indicados. Puede acceder a sus datos y ejercer sus derechos conforme a lo dispuesto por la Ley.<br><br>
                        <strong>Comentarios y Sesiones:</strong><br>
                        La recopilación de datos tiene como único propósito gestionar comentarios durante su sesión en PuertoNet.<br><br>
                        <strong>Modificaciones al Aviso de Privacidad:</strong><br>
                        Cualquier modificación a este aviso de privacidad se comunicará a través de los canales establecidos por PuertoNet.

                        Al participar en PuertoNet, usted acepta los términos y condiciones descritos en este aviso de privacidad.<br><br>
                        Fecha de última actualización: 11/11/2023
                    </p>
                </div>
            </div>
            <br>       
          <div class="col-2" >
          </div>
        </div>
</section>


{% include '../footer.html' %}

{% endblock %}
